<div class="card mb-6">
  <header class="card-header card-header-title ">
    
        <div class="column">
            <p class=" has-text-primary-light"></p>
      <a href="/post/{{id}}"  class="has-text-black is-capitalized is-pulled-left">{{title}} </a></p>
      </div>

      <div class="column">
      <span class=""> </span>
      </div>
    
  </header>

    <div class="card-content">
        <div class="content has-text-justified">
            {{post_content}}
        </div>
            <div class="is-pulled-right">
                <b>{{user.username}}</b> |    
                 {{format_date created_at}} | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
        
    </div>