<div class="text-center ">
  {{!-- See how it attaches to the blogs or photos? --}}
  
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

</div>

<div class="text-center "></div>

 <form class="form new-comment-form"></form>
   <textarea class="form-input" id="comment-desc" name="comment-desc"></textarea>
    <button class="btn btn-primary" >Leave a comment!</button>
   </p>
 </form>
</div>


  {{#each comments as |comment| }}
<div class="row">
  <div class="col-md">
    <p>
      <div class="card-comments" style="width: 25rem;">
        {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
        <div class="card-body" id="card">
          <p class="card-text">{{comment.text}}</p>
          <p class="card-text">Created by {{comment.user.name}} on {{format_date comment.date_created}}</p>
        </div>
      </div>
    </p>
  </div>
</div>
{{/each}}

<script src="js/profile.js"></script>