<div class="text-center ">
  {{!-- See how it attaches to the blogs or photos? --}}
  
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

</div>

<div class="text-center "></div>

 <form class="form new-comment-form"></form>
   <textarea class="form-input" id="comment-desc" name="comment-desc"></textarea>
   <button class="upload"> Upload a photo! </button>
   <p>
    <button class="btn btn-primary" >Leave a comment!</button>
   </p>
 </form>
</div>




  {{#if comment.length}}
  <div class="col-md-6 comment-list">
    {{#each comments as |comment|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/comment/{{comment.id}}">{{comment.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{comment.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="js/profile.js"></script>