{{!-- When you log in you should be able to see whatever you have saved. We need a clickable area to see the previous blogposts. --}}


<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
    <h2>

      <a href="/blog/{{blog.id}}">{{blog.name}}</a>
    </h2>
    <p>Created by {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.description}}
    </p>
    <button class="upload">Upload Image</button>
  </div>
</div>
{{/each}}
